# Contents of .gitignore
*.a
*.bin
*.cmake
*.dll
*.exe
*.exp
*.filters
*.lib
*.o
*.obj
*.sln
*.vcxproj

# Build results
[Dd]ebug/
[Ll]og/
[Ll]ogs/
[Oo]bj/
x64/
x86/

# Files built by Visual Studio
*.[Cc]ache
*.ilk
*.log
*.obj
*.pdb
*.rsp
*.tmp
.vs/


#User files
.*user

#Others
bin/


#CMake
cmake_install.cmake
CMakeCache.txt
CMakefiles
CMakeScripts
Makefile